.menu .current a {
	color: #FF383F;
}

.menu {
	border-bottom: 3px groove #CAEBF2;
	margin-bottom: 20px;
}

.menu ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
}

.menu li {
	display: inline-block;
	width: 120px;
}

.menu a {
	display: flex;
	text-decoration: none;
	padding: 3px;
	color: #A9A9A9;
	background-color: #CAEBF2;
	justify-content: center;
}

.menu a:hover {
	background-color: #A9A9A9;
	color: #CAEBF2;
}

@media (max-width: 550px) {
	.menu li { display: block; 
		width: auto; }
}