@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Crimson+Text');

body {
	background-color: #EFEFEF;
	color: #A9A9A9;
	font-family: 'Crimson Text', serif;
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
}

h1 {
	text-align: center;
	font-size: xx-large;
	font-family: 'Cinzel', serif;
	color: #828282;
}

h2 { 
	font-size: x-large;
	font-family: 'Cinzel', serif;
}

em {
	color: #FF383F;
}

.img1, .img2, .img3 {
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
	float: right;
	margin-bottom: 30px;
}

img {
	padding: 2px;
	margin-left: 30px;
	border: 1px solid #A9A9A9;
	width: 300px;
}

figcaption {
	padding-left: 30px;
	font-style: italic;
}

a {
	color: #FF383F;
}

a:hover {
	color: #828282;
}

.bottom {
	text-align: center;
	font-style: italic;
	margin-top: 5px;
	border-top: 3px groove #CAEBF2;
}